@media only screen and (max-width:600px) {

 #navbar
{
    flex-direction: column;
}


.home
{
    font-size: 15px;
    
}





.home h1{
  
    text-align: center;
    font-size: 30px;
}

.home h4{
   
   
    font-size: 20px;
   
}



/* //Service section */



.service-section h1{
    
    font-size: 18px;
}

.three-container
{
   
    flex-direction: column;
    column-gap: 50px;
}


.box
{   
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px white;
}



/* Our client section */


.Our-Clients img{
    border-radius: 50px;
    height: 120px;
    width: 90%;
}


/* //Form section */

.Form
{
    height: 400px;
    width: 100%;
    padding: 10px 0;

    background-image: url(img1.jpeg);

}

.Form h2{

    padding-bottom: 15px;
    font-size: 20px;
   

}


input{
    width: 90%;
    height: 25px;

}


    
}